body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    circle at top,
    #1f2937,
    #111827
  ); /* dark gray → almost black */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #f3f4f6;
}
